@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Lato:wght@400;700&display=swap');

.font-playfair {
  font-family: 'Playfair Display', serif;
}

.font-lato {
  font-family: 'Lato', sans-serif;
}

.font-open-sans {
    font-family: 'Open Sans', sans-serif;
  }

  .font-open-sans-light {
   
    font-family: 'Open Sans', sans-serif;
    font-weight: 300; 
    letter-spacing: 0.1em;
  }
  
ul, li {
font-family: 'Open Sans', sans-serif;
font-size: 1rem;
}

p{
  font-family: 'Open Sans', sans-serif;
  padding-top: 1rem;
padding-bottom: 1rem;
font-size: 1rem
  }


h3,h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300; 
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h1{
  font-family: 'Playfair Display', serif;
  padding-top: 3rem;
  padding-bottom: 1rem;
  
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500; 
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.h2-top {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500; 
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.pad-bottom{
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.light-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; 
}
.zoom-img {
  transition: transform 0.5s ease-in-out;
}

a {
  color: #be88fd;       
  text-decoration: none; 
}

a:visited {
  color: #be88fd;
}

a:hover,
a:focus {
  color: #d0a6fe;
  text-decoration: underline;
}

a:active {
  color: #d0a6fe; 
}

.zoom-img:hover {
  transform: scale(2);
}

.nav-pills .nav-link {
  color: white; 
  border-radius: 0.375rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); 
  transition: background-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
  border: none;
  background-color: rgb(104, 104, 104);
}

.footer-icons {
  display: flex;
  justify-content: flex-end;

}

@media (max-width: 768px) {
  .footer-icons {
    justify-content: flex-start;
    align-items: baseline;
    color: white;
    margin-left: 5px;
  }
}

.nav-pills .nav-link.active {
  background-color: #b479fc;  /* strong purple */
  color: white;
  background-image: none;
}

.nav-pills .nav-link:hover {
  background-color: #7E54B0; /* lighter purple for hover */
  color: #fff;
}

.nav-pills .nav-link:focus {
  box-shadow: 0 0 0 0.15rem rgba(137, 42, 163, 0.5);
}


.btn-primary {
  background-color: #b479fc;
  border-color: #b479fc;
  color: #fff;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #7E54B0;
  border-color: #7E54B0;
  color: #fff;
}

.navbar-nav .nav-link.active {
  color: #b479fc !important;
}

.navbar-nav .nav-item.active .nav-link {
  color: #b479fc !important;
}
