.zoom-img {
    transition: transform 0.5s ease-in-out;
}

.zoom-img:hover {
    transform: scale(1.25);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    width: 80%;
    margin: 20px auto;
    text-align: left;
}
.grid-item {
    border: 2px solid black;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
}
